.container {
  margin: auto;
  @media screen and (max-width: $TableWidth) {
    padding: 0px 1rem;
    width: 100%;
    box-sizing: border-box;
    margin: 0;
  }
  @media screen and (min-width: $TableWidth) {
    width: 750px;
  }
  @media screen and (min-width: $SmDesktopWidth) {
    width: 970px;
  }
  @media screen and (min-width: $DesktopWidth) {
    width: 1040px;
  }
}

.pointer {
  cursor: pointer;
}

.show-for {
  // Only
  &-desktop-only {
    display: none;
    @media screen and (min-width: $SmDesktopWidth) and (max-width: $DesktopWidth) {
      display: flex;
    }
  }
  &-smdesktop-only {
    display: none;
    @media screen and (min-width: $TableWidth) and (max-width: $SmDesktopWidth) {
      display: flex;
    }
  }
  &-tablet-only {
    display: none;
    @media screen and (min-width: $TableWidth) and (max-width: $PhoneWidth) {
      display: flex;
    }
  }
  &-phone-only {
    display: none;
    @media screen and (min-width: $SmPhoneWidth) and (max-width: $PhoneWidth) {
      display: flex;
    }
  }
  // show
  &-desktop {
    display: none;
    @media screen and (min-width: $SmDesktopWidth) {
      display: flex;
    }
  }
  &-smdesktop {
    @media screen and (min-width: $TableWidth) {
      display: flex;
    }
  }
  &-tablet {
    display: none;
    @media screen and (min-width: $PhoneWidth) {
      display: flex;
    }
  }
  &-phone {
    @media screen and (min-width: $SmPhoneWidth) {
      display: flex;
    }
  }
}

.hide-for {
  &-desktop {
    @media screen and (min-width: $SmDesktopWidth) {
      display: none;
    }
  }
  &-smdesktop {
    @media screen and (max-width: $DesktopWidth) {
      display: none;
    }
  }
  &-tablet {
    @media screen and (max-width: $SmDesktopWidth) {
      display: none;
    }
  }
  &-phone {
    @media screen and (max-width: $TableWidth) {
      display: none;
    }
  }
  &-smdesktop-only {
    @media screen and (min-width: $SmDesktopWidth) and (max-width: $DesktopWidth) {
      display: none;
    }
  }
  &-tablet-only {
    @media screen and (min-width: $TableWidth) and (max-width: $SmDesktopWidth) {
      display: none;
    }
  }
  &-phone-only {
    @media screen and (max-width: $PhoneWidth) {
      display: none;
    }
  }
}

// Margins
.mt {
  &-0 {
    margin-top: 0rem;
  }
  &-1 {
    margin-top: 1rem;
  }
  &-2 {
    margin-top: 2rem;
  }
  &-3 {
    margin-top: 3rem;
  }
  &-4 {
    margin-top: 4rem;
  }
  &-5 {
    margin-top: 5rem;
  }
}
.mr {
  &-0 {
    margin-right: 0rem;
  }
  &-1 {
    margin-right: 1rem;
  }
  &-2 {
    margin-right: 2rem;
  }
  &-3 {
    margin-right: 3rem;
  }
  &-4 {
    margin-right: 4rem;
  }
  &-5 {
    margin-right: 5rem;
  }
}
.mb {
  &-0 {
    margin-bottom: 0rem;
  }
  &-1 {
    margin-bottom: 1rem;
  }
  &-2 {
    margin-bottom: 2rem;
  }
  &-3 {
    margin-bottom: 3rem;
  }
  &-4 {
    margin-bottom: 4rem;
  }
  &-5 {
    margin-bottom: 5rem;
  }
}
.ml {
  &-0 {
    margin-left: 0rem;
  }
  &-1 {
    margin-left: 1rem;
  }
  &-2 {
    margin-left: 2rem;
  }
  &-3 {
    margin-left: 3rem;
  }
  &-4 {
    margin-left: 4rem;
  }
  &-5 {
    margin-left: 5rem;
  }
}
// Padding
.pt {
  &-0 {
    padding-top: 0rem;
  }
  &-1 {
    padding-top: 1rem;
  }
  &-2 {
    padding-top: 2rem;
  }
  &-3 {
    padding-top: 3rem;
  }
  &-4 {
    padding-top: 4rem;
  }
  &-5 {
    padding-top: 5rem;
  }
}
.pr {
  &-0 {
    padding-right: 0rem;
  }
  &-1 {
    padding-right: 1rem;
  }
  &-2 {
    padding-right: 2rem;
  }
  &-3 {
    padding-right: 3rem;
  }
  &-4 {
    padding-right: 4rem;
  }
  &-5 {
    padding-right: 5rem;
  }
}
.pb {
  &-0 {
    padding-bottom: 0rem;
  }
  &-1 {
    padding-bottom: 1rem;
  }
  &-2 {
    padding-bottom: 2rem;
  }
  &-3 {
    padding-bottom: 3rem;
  }
  &-4 {
    padding-bottom: 4rem;
  }
  &-5 {
    padding-bottom: 5rem;
  }
}
.pl {
  &-0 {
    padding-left: 0rem;
  }
  &-1 {
    padding-left: 1rem;
  }
  &-2 {
    padding-left: 2rem;
  }
  &-3 {
    padding-left: 3rem;
  }
  &-4 {
    padding-left: 4rem;
  }
  &-5 {
    padding-left: 5rem;
  }
}
// font-weight
.fw {
  &-300 {
    font-weight: 300;
  }
  &-400 {
    font-weight: 400;
  }
  &-500 {
    font-weight: 500;
  }
  &-600 {
    font-weight: 600;
  }
  &-700 {
    font-weight: 700;
  }
  &-800 {
    font-weight: 800;
  }
  &-900 {
    font-weight: 900;
  }
  &-b {
    font-weight: bold;
  }
}

.center {
  text-align: center;
}
