// breakepoints
$DesktopWidth: 1200px;
$SmDesktopWidth: 992px;
$TableWidth: 769px;
$SmTableWidth: 576px;
$PhoneWidth: 414px;
$SmPhoneWidth: 300px;

// colors
$blue: #44b3d8;
$grey_l: #d3d4d5;
$grey_d: #696969;
$black: #000000;
$white: #ffffff;

// font-sizes
